/* mobile */
@media (min-width: 320px) and (max-width: 599px)
{    
    .signup-form{
        border-radius: 3px;
        background:  linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        display: grid;
        grid-template-columns: 8vw 64vw 8vw;
        grid-template-rows: 7vh repeat(11, 6vh) 5vh;
        grid-gap: 0px;
        grid-template-areas: 
        ". . ."
        ". s1 ."
        ". . ."
        ". s2 ."
        ". . ."
        ". s3 ."
        ". . ."
        ". s4 ."
        ". . ."
        ". s5 ."
        ". . ."
        ". s6 ."
        ". . .";
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px)
{    
    .signup-form{
        border-radius: 3px;
        background:  linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        display: grid;
        grid-template-columns: 5vw 40vw 5vw;
        grid-template-rows: 7vh repeat(11, 4vh) 5vh;
        grid-gap: 0px;
        grid-template-areas: 
        ". . ."
        ". s1 ."
        ". . ."
        ". s2 ."
        ". . ."
        ". s3 ."
        ". . ."
        ". s4 ."
        ". . ."
        ". s5 ."
        ". . ."
        ". s6 ."
        ". . .";
    }
}

/* desktop */ 
@media (min-width: 1025px) and (max-width: 3840px)
{    
        .signup-form{
            border-radius: 3px;
            background:  linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
            display: grid;
            grid-template-columns: 2vw 16vw 2vw;
            grid-template-rows: 7vh repeat(11, 4vh) 5vh;
            grid-gap: 0px;
            grid-template-areas: 
            ". . ."
            ". s1 ."
            ". . ."
            ". s2 ."
            ". . ."
            ". s3 ."
            ". . ."
            ". s4 ."
            ". . ."
            ". s5 ."
            ". . ."
            ". s6 ."
            ". . .";
        }
}

.s1 {
    grid-area: s1;
}

.s2 {
    grid-area: s2;
}

.s3 {
    grid-area: s3;
}

.s4 {
    grid-area: s4;
}

.button-signup-container {
    grid-area: s5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-signup{
    height: 40px;
    width: 100px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    color: white;
    font-family: "Bangers";
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-signup:hover {
    background: linear-gradient(90deg, rgba(251,90,90,1) 0%, rgba(255,50,50,1) 50%, rgba(251,90,90,1) 100%);
    transition: 1s;
}
  
.text-signup{

}

.bottom-text-signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: s6;
}

.bottom-text-signup{
    font-family: "Comfortaa";
    text-align: center;
    font-size: 10px;
    color: white;
}

