.modal-create-background {
    height: 100%;
    width: 100%;
    background-color: rgba(0 , 0, 0, 0.7);
    /* position: absolute; */
    position: fixed;
    top: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1;
}

/* mobile */
@media (min-width: 320px) and (max-width: 599px)
{    
    .modal-create-form{
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        display: grid;
        grid-template-columns: 8vw 64vw 8vw;
        grid-template-rows: 5vh repeat(9, 6vh) 5vh;
        grid-gap: 0px;
        grid-template-areas: 
        ". . ."
        ". m1 ."
        ". . ."
        ". m2 ."
        ". . ."
        ". m3 ."
        ". . ."
        ". m4 ."
        ". . ."
        ". m5 ."
        ". . ."
        ;
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px)
{    
    .modal-create-form{
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        display: grid;
        grid-template-columns: 5vw 40vw 5vw;
        grid-template-rows: 5vh repeat(9, 4vh) 5vh;
        grid-gap: 0px;
        grid-template-areas: 
        ". . ."
        ". m1 ."
        ". . ."
        ". m2 ."
        ". . ."
        ". m3 ."
        ". . ."
        ". m4 ."
        ". . ."
        ". m5 ."
        ". . ."
        ;
    }
}

/* desktop */ 
@media (min-width: 1025px) and (max-width: 3840px)
{    
    .modal-create-form{
        border-radius: 5px;
        background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        display: grid;
        grid-template-columns: 2vw 16vw 2vw;
        grid-template-rows: 5vh repeat(9, 4vh) 5vh;
        grid-gap: 0px;
        grid-template-areas: 
        ". . ."
        ". m1 ."
        ". . ."
        ". m2 ."
        ". . ."
        ". m3 ."
        ". . ."
        ". m4 ."
        ". . ."
        ". m5 ."
        ". . ."
        ;
    }
}

.m1-create {
    grid-area: m1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.m1-create-text {
    font-family: "Bangers";
    color: white;
    font-size: 30px;
}

.m2-create {
    grid-area: m2;
}

.m3-create {
    grid-area: m3;
}

.buttons-modal-create-container {
    grid-area: m4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button-create,
.button-cancel-2 {
    height: 40px;
    width: 100px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    color: white;
    font-family: "Bangers";
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.text-create {

}

.button-create:hover,
.button-cancel-2:hover {
    background: linear-gradient(90deg, rgba(251,90,90,1) 0%, rgba(255,50,50,1) 50%, rgba(251,90,90,1) 100%);
    transition: 1s;
}

.bottom-text-modal-create-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: m5;
}

.bottom-text-modal-create{
    font-family: "Comfortaa";
    text-align: center;
    font-size: 10px;
    color: white;
}

