/* mobile */
@media (min-width: 320px) and (max-width: 599px)
{    
    .note {
        margin: 10px;   
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.87);
        background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        width: 70vw;
        height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        font-size: .875rem;
        transition: all 300ms linear;
        text-align: center;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px)
{    
    .note {
        margin: 10px; 
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.87);
        background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        width: 35vw;
        height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        font-size: .875rem;
        transition: all 300ms linear;
        text-align: center;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    }
}

/* desktop */ 
@media (min-width: 1025px) and (max-width: 3840px)
{    
    .note {
        margin: 10px; 
        margin-bottom: 30px;
        margin-top: 30px;
        border-radius: 6px;
        color: rgba(0, 0, 0, 0.87);
        background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        width: 15vw;
        height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        font-size: .875rem;
        transition: all 300ms linear;
        text-align: center;
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    }
}


.note-header {
    border-radius: 3px;
    padding: 1rem 15px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border: 0;
    margin-bottom: 0;
    background: linear-gradient(90deg, rgba(255,150,98,1) 0%, rgba(252,70,70,1) 100%);
    font-family: "Bangers";
    color: white;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

.note-body {
    padding: 0.9375rem 1.875rem;
    flex: 1 1 auto;
    font-size: 20;
    font-family: "Architects Daughter";
    color: white;
}

.note-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 0.9375rem 1.875rem;
    color: white;
    font-family: "Poiret One";
}

input {
    outline: none;
    background: transparent;
    border: none;
    font-family: "Architects Daughter";
    color: white;
}

::placeholder {
    color: white;
    font-family: "Architects Daughter";
}