/* mobile */
@media (min-width: 320px) and (max-width: 599px)
{    
    .grid-container-wall {
        grid-template-areas: 
        "navbar navbar navbar"
        ". . ."
        ". wall ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 100px 5vh auto auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px)
{    
    .grid-container-wall {
        grid-template-areas: 
        "navbar navbar navbar"
        ". . ."
        ". wall ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 5vw 90vw 5vw;
        grid-template-rows: 100px 5vh auto auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

/* desktop */
@media (min-width: 1025px) and (max-width: 3840px)
{    
    .grid-container-wall {
        grid-template-areas: 
        "navbar navbar navbar"
        ". . ."
        ". wall ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 5vw 90vw 4vw;
        grid-template-rows: 100px 5vh auto auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
        /* overflow-x: hidden; */
    }
}

.navbar-wall {
    grid-area: navbar;
    overflow: hidden;
}

.wall {
    grid-area: wall;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: auto; */
}

.footer-wall {
    grid-area: footer;
    overflow: hidden;
}
