.grid-container-logout {
    grid-template-areas: 
    "navbar navbar navbar"
    ". . ."
    ". logout ."
    ". . ."
    ". . .";
    display: grid;
    grid-template-columns: auto 500px auto;
    grid-template-rows: 100px auto 500px auto 100px;
    grid-gap: 0px;
    height:100vh;

}

.navbar-logout {
    grid-area: navbar;
}

.logout {
    grid-area: logout;
}


