.background-focus-note {
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1;
}