.modal-modify-background {
    height: 100%;
    width: 100%;
    background-color: rgba(0 , 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
    z-index: 1;
}

.modify-area {
    grid-area: modify;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.buttons-modal-modify-container {
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    word-wrap: break-word;
}

.button-modify,
.button-delete,
.button-cancel {
    background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
    height: 40px;
    width: 80px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    color: white;
    font-family: "Bangers";
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.button-delete:hover,
.button-cancel:hover,
.button-modify:hover {
    background: linear-gradient(90deg, rgba(251,90,90,1) 0%, rgba(255,50,50,1) 50%, rgba(251,90,90,1) 100%);
    transition: 1s;
}

/* mobile */
@media (min-width: 320px) and (max-width: 599px)
{    
    .modal-modify-container {
        grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". modify ."
        ". . ."
        ". buttons ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 15vw 70vw 15vw;
        grid-template-rows: 100px 5vh auto 250px 2.5vh 5vh auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px)
{    
    .modal-modify-container {
        grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". modify ."
        ". . ."
        ". buttons ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 32.5vw 35vw 32.5vw;
        grid-template-rows: 100px 5vh auto 250px 2.5vh 5vh auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

/* desktop */ 
@media (min-width: 1025px) and (max-width: 3840px)
{    
    .modal-modify-container {
        grid-template-areas: 
        ". . ."
        ". . ."
        ". . ."
        ". modify ."
        ". . ."
        ". buttons ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 42.5vw 15vw 42.5vw;
        grid-template-rows: 100px 5vh auto 250px 2.5vh 5vh auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

