*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    
}

nav {
    background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
    height: 100px;
    width: 100vw;
    position: fixed;
    z-index: 2;
    overflow: hidden;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 100px;
    padding: 0 100px;
    font-family: "Bangers";
}

nav ul {
    float: right;
    margin-right: 20px; 
    font-family: "Bangers";
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

a:hover {
    background: linear-gradient(90deg, rgba(251,90,90,1) 0%, rgba(255,50,50,1) 50%, rgba(251,90,90,1) 100%);
    transition: 1s;  
}

.checkbtn {
    font-size: 30px;
    color: rgba(251,90,90,1);
    float: right;
    line-height: 100px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (min-width: 320px) and (max-width: 599px)
{    
    .checkbtn {
        display: block;
    }

    ul {
        /* position: absolute; */
        position: fixed;
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        text-align: center;
        transition: all 1s;
        z-index: 1;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
        /* z-index: 5; */
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover{
        background: linear-gradient(90deg, rgba(251,90,90,1) 0%, rgba(255,50,50,1) 50%, rgba(251,90,90,1) 100%);
        color: white;
    }

    .buttonUnClick {
        left: -100%;
    }

    .buttonClick {
        left: 0;
    } 
}



