

.loading-screen {
    position: fixed;
    width: 500px;
    height: 500px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loading-bar {
    width: 400px;
    height: 4px;
    background: #cfcfcf;
    margin-top: 22px;
    position: relative;
}

.loading-bar::before {
    content: "";
    margin-top: 0px;
    width: 100px;
    height: 4px;
    background: #0073b1;
    position: absolute;
    left: 0px;
    animation-name: movebar;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes movebar {
    50% {
        left: 300px;
    }
}




