/* .field {
    border-bottom: 2px solid white;
    position: relative;
    margin: -1px;
} */

@media (min-width: 320px) and (max-width: 599px)
{    
    .field {
        border-bottom: 2px solid white;
        position: relative;
        margin: -1px;
        width: 64vw;
    }
}    

@media (min-width: 600px) and (max-width: 1024px)
{    
    .field {
        border-bottom: 2px solid white;
        position: relative;
        margin: -1px;
        width: 40vw;
    }
}    

@media (min-width: 1025px) and (max-width: 3840px)
{    
    .field {
        border-bottom: 2px solid white;
        position: relative;
        margin: -1px;
        width: 16vw;
    }
}    

.field input{
    /* font-family: "Comfortaa"; */
    font-size: 15px;
    color: white;
    border: none;
    width: 100%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
}

.field #description {
    font-family: "Comfortaa";
    font-size: 12px;
    position: absolute;
    left: 5px;
    color: white;
    transform: translateY(-50%);
    transition: 1s;
}

.field #line {
    content: '';
    position: absolute;
    height: 2px;
    transition: 2s;
}

.line_change_1 {
    width: 0%;
    background: white;
}

.line_change_2 {
    width: 100%;
    background: #26de81;
}

.line_change_3 {
    width: 100%;
    background: #f71414;
}

.description_change_1 {
    top: 20px;
}

.description_change_2 {
    top: -5px;  
}

