/* mobile */
@media (min-width: 320px) and (max-width: 599px)
{    
    .login-form{
        border-radius: 3px;
        background:  linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        display: grid;
        grid-template-columns: 8vw 64vw 8vw;
        grid-template-rows: 7vh repeat(7, 6vh) 5vh;
        grid-gap: 0px;
        grid-template-areas: 
        ". . ."
        ". l1 ."
        ". . ."
        ". l2 ."
        ". . ."
        ". l3 ."
        ". . ."
        ". l4 ."
        ". . .";
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px)
{    
    .login-form{
        border-radius: 3px;
        background:  linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
        display: grid;
        grid-template-columns: 5vw 40vw 5vw;
        grid-template-rows: 7vh repeat(7, 4vh) 5vh;
        grid-gap: 0px;
        grid-template-areas: 
        ". . ."
        ". l1 ."
        ". . ."
        ". l2 ."
        ". . ."
        ". l3 ."
        ". . ."
        ". l4 ."
        ". . .";
    }
}

/* desktop */ 
@media (min-width: 1025px) and (max-width: 3840px)
{    
        .login-form{
            border-radius: 3px;
            background:  linear-gradient(180deg, rgba(97,58,180,1) 0%, rgba(130,29,253,1) 40%, rgba(69,183,252,1) 100%);
            display: grid;
            grid-template-columns: 2vw 16vw 2vw;
            grid-template-rows: 7vh repeat(7, 4vh) 5vh;
            grid-gap: 0px;
            grid-template-areas: 
            ". . ."
            ". l1 ."
            ". . ."
            ". l2 ."
            ". . ."
            ". l3 ."
            ". . ."
            ". l4 ."
            ". . .";
        }
}



.l1 {
    grid-area: l1;
}

.l2 {
    grid-area: l2;
}

.button-login-container {
    grid-area: l3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-login{
    height: 40px;
    width: 100px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 3px;
    color: white;
    font-family: "Bangers";
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.7);
}

.text-login{

}

.button-login:hover {
    background: linear-gradient(90deg, rgba(251,90,90,1) 0%, rgba(255,50,50,1) 50%, rgba(251,90,90,1) 100%);
    transition: 1s;
}

.bottom-text-login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: l4;
}

.bottom-text-login{
    font-family: "Comfortaa";
    text-align: center;
    font-size: 10px;
    color: white;
}


