@font-face {
    font-family: "Bangers";
    src: url("../src/Fonts/Bangers-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Architects Daughter";
    src: url("../src/Fonts/ArchitectsDaughter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Comfortaa";
    src: url("../src/Fonts/Comfortaa-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poiret One";
    src: url("../src/Fonts/PoiretOne-Regular.ttf") format("truetype");
}

