/* mobile */
@media (min-width: 320px) and (max-width: 599px)
{    
    .grid-container-home {
        grid-template-areas: 
        "navbar navbar navbar"
        ". . ."
        ". . ."
        ". home ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 10vw 80vw 10vw;
        grid-template-rows: 100px 5vh 0px 54vh auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

/* tablet */
@media (min-width: 600px) and (max-width: 1024px)
{    
    .grid-container-home {
        grid-template-areas: 
        "navbar navbar navbar"
        ". . ."
        ". . ."
        ". home ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 25vw 50vw 25vw;
        grid-template-rows: 100px 5vh auto 40vh auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

/* desktop */
@media (min-width: 1025px) and (max-width: 3840px)
{    
    .grid-container-home {
        grid-template-areas: 
        "navbar navbar navbar"
        ". . ."
        ". . ."
        ". home ."
        ". . ."
        "footer footer footer";
        display: grid;
        grid-template-columns: 40vw 20vw 40vw;
        grid-template-rows: 100px 5vh auto 40vh auto 5vh; 
        grid-gap: 0px;
        height: 100vh;
    }
}

.navbar-home {
    grid-area: navbar;
}

.home {
    grid-area: home;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-home {
    grid-area: footer;
}

